@import "../../variables.scss";

.projectCard {
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  overflow: hidden;
  margin-top: $base-spacing * 2;
  display: flex;
  flex-direction: column;

  h3 {
    @include heading;
    color: $base-text;
    padding: $base-spacing;
    background-color: $tertiary-color;
    font-weight: 400;
  }

  img {
    width: 100%;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
  }

  p {
    padding: $base-spacing;
    border-bottom: 1px solid $secondary-color;
    background-color: $tertiary-color;
    font-size: 12px;
  }

  .cardLinks {
    width: 100%;
    background-color: $tertiary-color;

    .link {
      padding: $base-spacing;
      width: 50%;
      font-size: 40px;
      color: $base-text;

      &:first-child {
        border-right: 1px solid $primary-color;
      }

      &:hover {
        color: $tertiary-color;
        background-color: $secondary-color-shadow;
        cursor: pointer;
      }
    }
  }
}
