@import "../../variables.scss";
.landingPage {
  @include flexbox-column-between;
  padding: $base-spacing $base-spacing * 2;
  padding-bottom: 20vh;
  height: 100vh;
  position: relative;

  h1 {
    @include heading;
    color: $primary-color;
    font-size: 40px;
  }

  .subheading {
    width: 50%;
    display: inline-block;
  }

  .flowTriangle {
    @include flow-triangle;
  }
}
