@import "../../variables.scss";

.contactPage {
  background-color: $secondary-color;
  padding: $base-spacing * 2;
  padding: $base-spacing * 2 $base-spacing * 4;
  z-index: 3;
  position: relative;

  h2 {
    @include heading;
    color: $tertiary-color;
  }

  .socialContainer {
      border-top: 1px solid $base-text;
  }

  div {
    width: 100%;
    display: flex;
    padding: $base-spacing * 2 0;
    justify-content: space-around;

    .socials {
      flex-grow: 1;
      font-size: 30px;
      color: $tertiary-color;
      
      &:hover {
        color: $base-text;
      }
    }

    .contactCv {
      text-decoration: none;
      padding: $base-spacing/2;
      color: $secondary-color;
      letter-spacing: 1px;
      border-radius: 2px;
      font-weight: bold;
      background-color: $tertiary-color;
      
      &:hover {
        background-color: $base-text;
      }
    }
  }
}
