@import "../../variables.scss";

.aboutPage {
  padding: $base-spacing * 2 $base-spacing * 4;
  padding-bottom: 20vh;
  background-color: $secondary-color;
  position: relative;

  .content {
    img {
      width: $base-spacing * 12;
      border-radius: $border-radius;
      display: block;
      margin: 0 auto;
    }

    .contentText {
      h2 {
        color: $tertiary-color;
        @include heading;
        padding: $base-spacing;
      }

      p {
        color: $base-text;
      }
    }
  }
  .skills {
    .boxList {
      width: 100%;
      display: inline-block;
      padding: $base-spacing;

      h3 {
        @include heading;
        padding-bottom: $base-spacing;
        color: $tertiary-color;
      }

      ul {
        columns: 2;
        list-style-type: disc;
        width: 100%;
        display: inline-block;
        color: $base-text;
        list-style: none;
        font-size: 14px;
      }
    }
    .languages {
      ul {
        columns: 3;
      }
    }
  }

  .tools {
    border-top: 1px solid $tertiary-color;
    border-bottom: 1px solid $tertiary-color;
  }

  .flowTriangle {
    @include flow-triangle;
    background-color: $tertiary-color;
  }
}

@media only screen and (min-width: 764px) {
  .aboutPage {
    margin-left: 40%;
    width: 60%;
    height: 100vh;
    padding: $base-spacing * 2;
    display: flex;
    flex-direction: column;

    .content {
      display: inline-block;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      img {
        display: none;
      }

      .contentText {
        h2 {
          padding-top: 0;
        }
      }
    }

    .skills {
      display: flex;
      flex-direction: column;

      .boxList {
        ul {
          columns: 3;
          text-align: center;
          li {
            padding: 2px 0;
          }
        }
      }
    }

    .flowTriangle {
      border-left: 1px solid $secondary-color;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .aboutPage {
    width: 75%;
    margin-left: 25%;
    padding:$base-spacing*5 10%;
    padding-bottom: 15vh;
    justify-content: space-evenly;

    .content {
      flex-direction: row;
      width: 100%;

      img {
        display: unset;
        width: $base-spacing * 16;
      }
      .contentText {
        width: 80%;
        padding-left: $base-spacing * 2;
        h2 {
          display: inline-block;
          font-size: 25px;
          padding-left: 0;
        }
        p {
          font-size: 18px;
          text-align: justify;
        }
      }
    }

    .skills {
      display: grid;
      grid-template: "languages languages"
      "tools concepts";
      grid-template-columns: 1fr 1fr;
      .boxList {
        h3 {
          font-size: 20px;
        }
        ul {
          columns: 2;
          // text-align: left;
          li {
            padding: 2px 0;
            font-size: 18px;
          }
        }
      }

      .languages {
        grid-area: languages;
        border-bottom: 1px solid $tertiary-color;
        ul {
          columns: 3;
        }
      }
      .tools {
        grid-area: tools;
        border: none;
        border-right: .5px solid $tertiary-color;
        width: 100%;
      }
      .concepts {
        border-left: .5px solid $tertiary-color;
        grid-area: concepts;
        width: 100%;
      }
    }

    .flowTriangle {
      border-left: 1px solid $secondary-color;
      @include flow-triangle-media-desktop;
    }
  }
}

