@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


@media only screen and (min-width: 764px) {
    .landingAboutContainer {
        display: flex;
    }
  }