$primary-color: #26EE95;
$secondary-color: #E71A60;
$tertiary-color: #fff;

$primary-color-shade:#126E44;
$secondary-color-shade: #690C2B;
$tertiary-color-shade: #F9F1F1;

$base-text: #444;
$base-spacing: 10px;
