$primary-color: #E71A60;
$secondary-color: #26EE95;
$tertiary-color: #fff;

$primary-color-shadow: rgba(231, 26, 96, 0.589);
$secondary-color-shadow: rgba(38, 238, 148, 0.589);
$tertiary-color-shadow: rgba(255, 255, 255, 0.589);

$base-text: #444;
$border-radius: 20px;

$base-spacing: 10px;

@mixin heading {
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 10px;
    text-align: center;
}

@mixin flexbox-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-row-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexbox-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexbox-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flexbox-column-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flow-triangle {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    background-color: $secondary-color;
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
}

@mixin flow-triangle-media-desktop {
    background-color: $tertiary-color;
    -webkit-clip-path: polygon(50% 100%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0, 10% 0);
    clip-path: polygon(50% 100%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0, 10% 0);
}
